.navmobile {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

ul {
  list-style: none;
}

@media only screen and (max-width: 500px) {
  .navmobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    display: none;
  }
}
